# Домашнее задание №3 || Фрейдина Алена

## Установка окружений и пакетов для работы с PostgresSQL

In [1]:
%pip install ipython ipykernel psycopg2-binary sqlalchemy ipython-sql pandas

Requirement already satisfied: ipython in /opt/miniconda3/lib/python3.13/site-packages (9.7.0)
Requirement already satisfied: ipykernel in /opt/miniconda3/lib/python3.13/site-packages (7.1.0)
Requirement already satisfied: psycopg2-binary in /opt/miniconda3/lib/python3.13/site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in /opt/miniconda3/lib/python3.13/site-packages (2.0.44)
Requirement already satisfied: ipython-sql in /opt/miniconda3/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: pandas in /opt/miniconda3/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: decorator>=4.3.2 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (2.19.1)
Requirement already satisfied: stack_data>=0.6.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython) (5.14.3)
Requirement already satisfied: appnope>=0.1.2 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (0.1.4)
Requirement already satisfied: comm>=0.1.1 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (0.2.3)
Requirement already satisfied: debugpy>=1.6.5 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (1.8.11)
Requirement already satisfied: jupyter-client>=8.0.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (5.9.1)
Requirement already satisfied: nest-asyncio>=1.4 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (1.6.0)
Requirement already satisfied: packaging>=22 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (24.2)
Requirement already satisfied: psutil>=5.7 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (7.1.3)
Requirement already satisfied: pyzmq>=25 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (26.2.0)
Requirement already satisfied: tornado>=6.2 in /opt/miniconda3/lib/python3.13/site-packages (from ipykernel) (6.5.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/miniconda3/lib/python3.13/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: prettytable in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: sqlparse in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/miniconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/miniconda3/lib/python3.13/site-packages (from jedi>=0.18.1->ipython) (0.8.5)
Requirement already satisfied: platformdirs>=2.5 in /opt/miniconda3/lib/python3.13/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel) (4.3.7)
Requirement already satisfied: ptyprocess>=0.5 in /opt/miniconda3/lib/python3.13/site-packages (from pexpect>4.3->ipython) (0.7.0)
Requirement already satisfied: wcwidth in /opt/miniconda3/lib/python3.13/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython) (0.2.14)
Requirement already satisfied: executing>=1.2.0 in /opt/miniconda3/lib/python3.13/site-packages (from stack_data>=0.6.0->ipython) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/miniconda3/lib/python3.13/site-packages (from stack_data>=0.6.0->ipython) (3.0.1)
Requirement already satisfied: pure_eval in /opt/miniconda3/lib/python3.13/site-packages (from stack_data>=0.6.0->ipython) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/miniconda3/lib/python3.13/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: ipython in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (9.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (0.5.4)
Requirement already satisfied: six in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/miniconda3/lib/python3.13/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/miniconda3/lib/python3.13/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator>=4.3.2 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers>=1.0.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.18.1 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline>=0.1.5 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: pexpect>4.3 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.11.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data>=0.6.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/miniconda3/lib/python3.13/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/miniconda3/lib/python3.13/site-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/miniconda3/lib/python3.13/site-packages (from jedi>=0.18.1->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /opt/miniconda3/lib/python3.13/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/miniconda3/lib/python3.13/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/miniconda3/lib/python3.13/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (3.0.1)
Requirement already satisfied: pure_eval in /opt/miniconda3/lib/python3.13/site-packages (from stack_data>=0.6.0->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install "prettytable<3.9"

Requirement already satisfied: prettytable<3.9 in /opt/miniconda3/lib/python3.13/site-packages (3.8.0)
Requirement already satisfied: wcwidth in /opt/miniconda3/lib/python3.13/site-packages (from prettytable<3.9) (0.2.14)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql

In [5]:
%sql postgresql+psycopg2://perceivery:***password***@localhost:5432/postgres

In [6]:
%sql SELECT version();

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
1 rows affected.

[('PostgreSQL 18.1 on x86_64-apple-darwin23.6.0, compiled by Apple clang version 16.0.0 (clang-1600.0.26.6), 64-bit',)]

In [7]:
%%sql
DROP SCHEMA IF EXISTS hw3 CASCADE;
CREATE SCHEMA hw3;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
Done.
Done.

[]

In [8]:
%%sql
SET search_path TO hw3;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
Done.

[]

In [9]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine(
    "postgresql+psycopg2://perceivery:****password**@localhost:5432/postgres"
)

## Создание таблиц в новой схеме

### CUSTOMER

In [10]:
%%sql
CREATE TABLE hw3.customer(
    customer_id           INT PRIMARY KEY,
    first_name            VARCHAR(50)  NOT NULL,
    last_name             VARCHAR(50),
    gender                VARCHAR(10),
    DOB                   DATE,
    job_title             VARCHAR(200),
    job_industry_category VARCHAR(50),
    wealth_segment        VARCHAR(30)  NOT NULL,
    deceased_indicator    BOOLEAN      NOT NULL,
    owns_car              BOOLEAN      NOT NULL,
    address               VARCHAR(200) NOT NULL,
    postcode              VARCHAR(10)  NOT NULL,
    state                 VARCHAR(50)  NOT NULL,
    country               VARCHAR(50)  NOT NULL,
    property_valuation    SMALLINT     NOT NULL
);

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
Done.

[]

### PRODUCT (не исправленная)

In [11]:
%%sql
 CREATE TABLE hw3.product (
    product_id     INT          NOT NULL,
    brand          VARCHAR(50),
    product_line   VARCHAR(20),
    product_class  VARCHAR(10),
    product_size   VARCHAR(10),
    list_price     NUMERIC(10,2) NOT NULL,
    standard_cost  NUMERIC(10,2) 
);

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
Done.

[]

### ORDERS

In [12]:
%%sql
CREATE TABLE hw3.orders (
    order_id     INT         PRIMARY KEY,
    customer_id  INT         NOT NULL,
    order_date   DATE        NOT NULL,
    online_order BOOLEAN,              
    order_status VARCHAR(20) NOT NULL
);

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
Done.

[]

### ORDER_ITEMS

In [13]:
%%sql
CREATE TABLE hw3.order_items (
    order_item_id                INT           PRIMARY KEY,
    order_id                     INT           NOT NULL,
    product_id                   INT           NOT NULL,
    quantity                     SMALLINT      NOT NULL,
    item_list_price_at_sale      NUMERIC(10,2) NOT NULL,
    item_standard_cost_at_sale   NUMERIC(10,2)    
);

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
Done.

[]

## Загрузка данных в таблицы из .csv

### CUSTOMER

In [14]:
df = pd.read_csv('/Users/perceivery/Desktop/DE_3/customer_new.csv', sep=',')
df.columns = df.columns.str.lower()

df.to_sql(
    "customer",
    engine,
    schema="hw3",
    if_exists="append", 
    index=False
)

print("Загрузка завершена.")

Загрузка завершена.

### PRODUCT

In [15]:
df1 = pd.read_csv('/Users/perceivery/Desktop/DE_3/product.csv', sep=',')
df1.columns = df1.columns.str.lower()

df1.to_sql(
    "product",
    engine,
    schema="hw3",
    if_exists="append", 
    index=False
)

print("Загрузка завершена.")

Загрузка завершена.

### ORDERS

In [16]:
df2 = pd.read_csv('/Users/perceivery/Desktop/DE_3/orders_new.csv', sep=',')
df2.columns = df2.columns.str.lower()

df2.to_sql(
    "orders",
    engine,
    schema="hw3",
    if_exists="append", 
    index=False
)

print("Загрузка завершена.")

Загрузка завершена.

### ORDER_ITEMS

In [17]:
df3 = pd.read_csv('/Users/perceivery/Desktop/DE_3/order_items.csv', sep=',')
df3.columns = df3.columns.str.lower()

df3.to_sql(
    "order_items",
    engine,
    schema="hw3",
    if_exists="append", 
    index=False
)

print("Загрузка завершена.")

Загрузка завершена.

### PRODUCT_COR (исправленная PRODUCT)

In [18]:
%%sql
CREATE TABLE hw3.product_cor AS
SELECT 

    product_id,
    brand,
    product_line,
    product_class,
    product_size,
    list_price,
    standard_cost
       
FROM (
    SELECT 
        *,
        ROW_NUMBER() OVER (
            PARTITION BY product_id 
            ORDER BY list_price DESC
        ) AS rn
    FROM hw3.product
) t
WHERE rn = 1;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
101 rows affected.

[]

## Проверка загрузок

In [19]:
%%sql
SELECT COUNT(*) FROM PRODUCT_COR;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
1 rows affected.

[(101,)]

In [20]:
%%sql
SELECT COUNT(*) FROM CUSTOMER;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
1 rows affected.

[(4000,)]

In [21]:
%%sql
SELECT COUNT(*) FROM ORDERS;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
1 rows affected.

[(20000,)]

In [22]:
%%sql
SELECT COUNT(*) FROM ORDER_ITEMS;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
1 rows affected.

[(20000,)]

# Решение задач

## Задача 1. 
Вывести распределение (количество) клиентов по сферам деятельности, отсортировав результат по убыванию количества.

In [23]:
%%sql
SELECT 
    job_industry_category,
    COUNT(*) AS customer_num
FROM customer
GROUP BY job_industry_category
ORDER BY customer_num DESC;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
10 rows affected.

[('Manufacturing', 799),
 ('Financial Services', 774),
 (None, 656),
 ('Health', 602),
 ('Retail', 358),
 ('Property', 267),
 ('IT', 223),
 ('Entertainment', 136),
 ('Argiculture', 113),
 ('Telecommunications', 72)]

## Задача 2. 
Найти общую сумму дохода (list_price*quantity) по всем подтвержденным заказам за каждый месяц по сферам деятельности клиентов. Отсортировать результат по году, месяцу и сфере деятельности.

In [24]:
%%sql
SELECT 
    EXTRACT(YEAR  FROM o.order_date)  AS year,
    EXTRACT(MONTH FROM o.order_date)  AS month,
    c.job_industry_category,
    SUM(oi.item_list_price_at_sale * oi.quantity) AS total_revenue
FROM hw3.orders o
JOIN hw3.order_items oi 
      ON o.order_id = oi.order_id
JOIN hw3.customer c 
      ON c.customer_id = o.customer_id
WHERE o.order_status = 'Approved'
GROUP BY 
    EXTRACT(YEAR  FROM o.order_date),
    EXTRACT(MONTH FROM o.order_date),
    c.job_industry_category
ORDER BY 
    year,
    month,
    c.job_industry_category;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
120 rows affected.

[(Decimal('2017'), Decimal('1'), 'Argiculture', Decimal('232148.25')),
 (Decimal('2017'), Decimal('1'), 'Entertainment', Decimal('342541.17')),
 (Decimal('2017'), Decimal('1'), 'Financial Services', Decimal('2032708.45')),
 (Decimal('2017'), Decimal('1'), 'Health', Decimal('1570012.48')),
 (Decimal('2017'), Decimal('1'), 'IT', Decimal('604949.53')),
 (Decimal('2017'), Decimal('1'), 'Manufacturing', Decimal('1931238.45')),
 (Decimal('2017'), Decimal('1'), 'Property', Decimal('486257.97')),
 (Decimal('2017'), Decimal('1'), 'Retail', Decimal('981112.86')),
 (Decimal('2017'), Decimal('1'), 'Telecommunications', Decimal('164558.49')),
 (Decimal('2017'), Decimal('1'), None, Decimal('1788848.10')),
 (Decimal('2017'), Decimal('2'), 'Argiculture', Decimal('328571.75')),
 (Decimal('2017'), Decimal('2'), 'Entertainment', Decimal('336017.65')),
 (Decimal('2017'), Decimal('2'), 'Financial Services', Decimal('2081547.57')),
 (Decimal('2017'), Decimal('2'), 'Health', Decimal('1462370.73')),
 (Decimal('2017'), Decimal('2'), 'IT', Decimal('543267.18')),
 (Decimal('2017'), Decimal('2'), 'Manufacturing', Decimal('2264725.12')),
 (Decimal('2017'), Decimal('2'), 'Property', Decimal('687595.23')),
 (Decimal('2017'), Decimal('2'), 'Retail', Decimal('868784.96')),
 (Decimal('2017'), Decimal('2'), 'Telecommunications', Decimal('164570.69')),
 (Decimal('2017'), Decimal('2'), None, Decimal('1445188.48')),
 (Decimal('2017'), Decimal('3'), 'Argiculture', Decimal('263176.44')),
 (Decimal('2017'), Decimal('3'), 'Entertainment', Decimal('421943.32')),
 (Decimal('2017'), Decimal('3'), 'Financial Services', Decimal('1888529.98')),
 (Decimal('2017'), Decimal('3'), 'Health', Decimal('1542161.04')),
 (Decimal('2017'), Decimal('3'), 'IT', Decimal('534414.47')),
 (Decimal('2017'), Decimal('3'), 'Manufacturing', Decimal('2161016.78')),
 (Decimal('2017'), Decimal('3'), 'Property', Decimal('738869.13')),
 (Decimal('2017'), Decimal('3'), 'Retail', Decimal('934205.65')),
 (Decimal('2017'), Decimal('3'), 'Telecommunications', Decimal('140274.45')),
 (Decimal('2017'), Decimal('3'), None, Decimal('1572568.51')),
 (Decimal('2017'), Decimal('4'), 'Argiculture', Decimal('294240.53')),
 (Decimal('2017'), Decimal('4'), 'Entertainment', Decimal('378726.38')),
 (Decimal('2017'), Decimal('4'), 'Financial Services', Decimal('1806337.75')),
 (Decimal('2017'), Decimal('4'), 'Health', Decimal('1483383.57')),
 (Decimal('2017'), Decimal('4'), 'IT', Decimal('602325.50')),
 (Decimal('2017'), Decimal('4'), 'Manufacturing', Decimal('2183923.68')),
 (Decimal('2017'), Decimal('4'), 'Property', Decimal('612531.61')),
 (Decimal('2017'), Decimal('4'), 'Retail', Decimal('1042175.23')),
 (Decimal('2017'), Decimal('4'), 'Telecommunications', Decimal('215288.26')),
 (Decimal('2017'), Decimal('4'), None, Decimal('1438222.44')),
 (Decimal('2017'), Decimal('5'), 'Argiculture', Decimal('436208.06')),
 (Decimal('2017'), Decimal('5'), 'Entertainment', Decimal('381159.87')),
 (Decimal('2017'), Decimal('5'), 'Financial Services', Decimal('2024690.07')),
 (Decimal('2017'), Decimal('5'), 'Health', Decimal('1582513.38')),
 (Decimal('2017'), Decimal('5'), 'IT', Decimal('520430.38')),
 (Decimal('2017'), Decimal('5'), 'Manufacturing', Decimal('1988423.89')),
 (Decimal('2017'), Decimal('5'), 'Property', Decimal('785204.57')),
 (Decimal('2017'), Decimal('5'), 'Retail', Decimal('833223.93')),
 (Decimal('2017'), Decimal('5'), 'Telecommunications', Decimal('136406.66')),
 (Decimal('2017'), Decimal('5'), None, Decimal('1668246.68')),
 (Decimal('2017'), Decimal('6'), 'Argiculture', Decimal('296347.31')),
 (Decimal('2017'), Decimal('6'), 'Entertainment', Decimal('360266.00')),
 (Decimal('2017'), Decimal('6'), 'Financial Services', Decimal('2013753.71')),
 (Decimal('2017'), Decimal('6'), 'Health', Decimal('1322161.47')),
 (Decimal('2017'), Decimal('6'), 'IT', Decimal('534681.94')),
 (Decimal('2017'), Decimal('6'), 'Manufacturing', Decimal('1828730.80')),
 (Decimal('2017'), Decimal('6'), 'Property', Decimal('683948.86')),
 (Decimal('2017'), Decimal('6'), 'Retail', Decimal('866725.19')),
 (Decimal('2017'), Decimal('6'), 'Telecommunications', Decimal('210396.50')),
 (Decimal('2017'), Decimal('6'), None, Decimal('1639996.38')),
 (Decimal('2017'), Decimal('7'), 'Argiculture', Decimal('303655.26')),
 (Decimal('2017'), Decimal('7'), 'Entertainment', Decimal('343052.06')),
 (Decimal('2017'), Decimal('7'), 'Financial Services', Decimal('2025414.17')),
 (Decimal('2017'), Decimal('7'), 'Health', Decimal('1624181.33')),
 (Decimal('2017'), Decimal('7'), 'IT', Decimal('571596.45')),
 (Decimal('2017'), Decimal('7'), 'Manufacturing', Decimal('2139806.08')),
 (Decimal('2017'), Decimal('7'), 'Property', Decimal('681982.29')),
 (Decimal('2017'), Decimal('7'), 'Retail', Decimal('915756.33')),
 (Decimal('2017'), Decimal('7'), 'Telecommunications', Decimal('166119.40')),
 (Decimal('2017'), Decimal('7'), None, Decimal('1909468.68')),
 (Decimal('2017'), Decimal('8'), 'Argiculture', Decimal('293083.03')),
 (Decimal('2017'), Decimal('8'), 'Entertainment', Decimal('387816.79')),
 (Decimal('2017'), Decimal('8'), 'Financial Services', Decimal('2218933.49')),
 (Decimal('2017'), Decimal('8'), 'Health', Decimal('1611707.80')),
 (Decimal('2017'), Decimal('8'), 'IT', Decimal('577947.66')),
 (Decimal('2017'), Decimal('8'), 'Manufacturing', Decimal('2192424.03')),
 (Decimal('2017'), Decimal('8'), 'Property', Decimal('585461.20')),
 (Decimal('2017'), Decimal('8'), 'Retail', Decimal('937086.47')),
 (Decimal('2017'), Decimal('8'), 'Telecommunications', Decimal('228295.43')),
 (Decimal('2017'), Decimal('8'), None, Decimal('1657799.85')),
 (Decimal('2017'), Decimal('9'), 'Argiculture', Decimal('318564.78')),
 (Decimal('2017'), Decimal('9'), 'Entertainment', Decimal('332557.34')),
 (Decimal('2017'), Decimal('9'), 'Financial Services', Decimal('1834818.04')),
 (Decimal('2017'), Decimal('9'), 'Health', Decimal('1381730.06')),
 (Decimal('2017'), Decimal('9'), 'IT', Decimal('532603.49')),
 (Decimal('2017'), Decimal('9'), 'Manufacturing', Decimal('2001090.47')),
 (Decimal('2017'), Decimal('9'), 'Property', Decimal('743079.63')),
 (Decimal('2017'), Decimal('9'), 'Retail', Decimal('827844.17')),
 (Decimal('2017'), Decimal('9'), 'Telecommunications', Decimal('179212.64')),
 (Decimal('2017'), Decimal('9'), None, Decimal('1564112.72')),
 (Decimal('2017'), Decimal('10'), 'Argiculture', Decimal('248465.07')),
 (Decimal('2017'), Decimal('10'), 'Entertainment', Decimal('334892.76')),
 (Decimal('2017'), Decimal('10'), 'Financial Services', Decimal('1873666.34')),
 (Decimal('2017'), Decimal('10'), 'Health', Decimal('1509336.81')),
 (Decimal('2017'), Decimal('10'), 'IT', Decimal('571701.08')),
 (Decimal('2017'), Decimal('10'), 'Manufacturing', Decimal('2129052.39')),
 (Decimal('2017'), Decimal('10'), 'Property', Decimal('668121.57')),
 (Decimal('2017'), Decimal('10'), 'Retail', Decimal('1071439.96')),
 (Decimal('2017'), Decimal('10'), 'Telecommunications', Decimal('202468.46')),
 (Decimal('2017'), Decimal('10'), None, Decimal('1797743.53')),
 (Decimal('2017'), Decimal('11'), 'Argiculture', Decimal('209611.86')),
 (Decimal('2017'), Decimal('11'), 'Entertainment', Decimal('334325.79')),
 (Decimal('2017'), Decimal('11'), 'Financial Services', Decimal('1861137.27')),
 (Decimal('2017'), Decimal('11'), 'Health', Decimal('1749831.52')),
 (Decimal('2017'), Decimal('11'), 'IT', Decimal('547450.97')),
 (Decimal('2017'), Decimal('11'), 'Manufacturing', Decimal('2059419.18')),
 (Decimal('2017'), Decimal('11'), 'Property', Decimal('636034.46')),
 (Decimal('2017'), Decimal('11'), 'Retail', Decimal('905419.63')),
 (Decimal('2017'), Decimal('11'), 'Telecommunications', Decimal('183370.46')),
 (Decimal('2017'), Decimal('11'), None, Decimal('1574963.85')),
 (Decimal('2017'), Decimal('12'), 'Argiculture', Decimal('220705.81')),
 (Decimal('2017'), Decimal('12'), 'Entertainment', Decimal('286463.54')),
 (Decimal('2017'), Decimal('12'), 'Financial Services', Decimal('2117092.32')),
 (Decimal('2017'), Decimal('12'), 'Health', Decimal('1734943.60')),
 (Decimal('2017'), Decimal('12'), 'IT', Decimal('620265.30')),
 (Decimal('2017'), Decimal('12'), 'Manufacturing', Decimal('1821976.45')),
 (Decimal('2017'), Decimal('12'), 'Property', Decimal('654253.28')),
 (Decimal('2017'), Decimal('12'), 'Retail', Decimal('862122.88')),
 (Decimal('2017'), Decimal('12'), 'Telecommunications', Decimal('137207.63')),
 (Decimal('2017'), Decimal('12'), None, Decimal('1661868.12'))]

## Задача 3. 
Вывести количество уникальных онлайн-заказов для всех брендов в рамках подтвержденных заказов клиентов из сферы IT. Включить бренды, у которых нет онлайн-заказов от IT-клиентов, — для них должно быть указано количество 0.

In [25]:
%%sql
SELECT 
    pc.brand,
    COUNT(DISTINCT o.order_id) AS online_orders_it
FROM hw3.product_cor pc
LEFT JOIN hw3.order_items oi 
    ON oi.product_id = pc.product_id
LEFT JOIN hw3.orders o 
    ON o.order_id = oi.order_id
   AND o.online_order = TRUE              -- только онлайн
   AND o.order_status = 'Approved'        -- только подтверждённые
LEFT JOIN hw3.customer c 
    ON c.customer_id = o.customer_id
   AND c.job_industry_category = 'IT'     -- только IT-клиенты
GROUP BY pc.brand
ORDER BY online_orders_it DESC;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
6 rows affected.

[('OHM Cycles', 1901),
 ('Solex', 1877),
 ('WeareA2B', 1810),
 ('Giant Bicycles', 1782),
 ('Trek Bicycles', 1267),
 ('Norco Bicycles', 1095)]

## Задача 4. 
Найти по всем клиентам: сумму всех заказов (общего дохода), максимум, минимум и количество заказов, а также среднюю сумму заказа по каждому клиенту. Отсортировать результат по убыванию суммы всех заказов и количества заказов. Выполнить двумя способами: используя только GROUP BY и используя только оконные функции. Сравнить результат.

### GROUP BY

In [26]:
%%sql
WITH order_totals AS (
    SELECT 
        o.order_id,
        o.customer_id,
        SUM(oi.quantity * oi.item_list_price_at_sale) AS order_sum
    FROM hw3.orders o
    JOIN hw3.order_items oi 
        ON oi.order_id = o.order_id
    GROUP BY o.order_id, o.customer_id
)

SELECT
    customer_id,
    SUM(order_sum) AS total_pay,
    MAX(order_sum) AS max_pay,
    MIN(order_sum) AS min_pay,
    AVG(order_sum) AS avg_pay,
    COUNT(*) AS num_orders
FROM order_totals
GROUP BY customer_id
ORDER BY total_pay DESC, num_orders DESC
LIMIT 10;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
10 rows affected.

[(2183, Decimal('136632.46'), Decimal('20056.60'), Decimal('1073.07'), Decimal('9759.4614285714285714'), 14),
 (1597, Decimal('133657.06'), Decimal('20914.70'), Decimal('1720.70'), Decimal('11138.088333333333'), 12),
 (941, Decimal('129789.94'), Decimal('20914.70'), Decimal('2115.02'), Decimal('12978.994000000000'), 10),
 (1129, Decimal('129189.48'), Decimal('19773.60'), Decimal('1743.72'), Decimal('9937.6523076923076923'), 13),
 (637, Decimal('109334.74'), Decimal('17796.24'), Decimal('360.40'), Decimal('8410.3646153846153846'), 13),
 (2309, Decimal('107476.68'), Decimal('16353.00'), Decimal('991.44'), Decimal('8956.3900000000000000'), 12),
 (3015, Decimal('106182.33'), Decimal('20914.70'), Decimal('3111.16'), Decimal('10618.2330000000000000'), 10),
 (1329, Decimal('101439.07'), Decimal('17934.30'), Decimal('543.39'), Decimal('9221.7336363636363636'), 11),
 (2046, Decimal('100891.35'), Decimal('18823.23'), Decimal('2667.55'), Decimal('11210.150000000000'), 9),
 (2615, Decimal('99880.69'), Decimal('19773.60'), Decimal('1149.28'), Decimal('11097.8544444444444444'), 9)]

### PARTITION

In [27]:
%%sql
WITH with_items AS (
    SELECT
        o.order_id,
        o.customer_id,
        (oi.quantity * oi.item_list_price_at_sale) AS position_sum
    FROM hw3.orders o
    JOIN hw3.order_items oi 
        ON oi.order_id = o.order_id
),
order_sums AS (
    SELECT
        order_id,
        customer_id,
        SUM(position_sum) OVER (PARTITION BY order_id) AS order_sum,
        ROW_NUMBER() OVER (PARTITION BY order_id ORDER BY order_id) AS rn
    FROM with_items
),
customer_stats AS (
    SELECT
        customer_id,
        order_sum,
        SUM(order_sum) OVER (PARTITION BY customer_id) AS total_pay,
        MAX(order_sum) OVER (PARTITION BY customer_id) AS max_pay,
        MIN(order_sum) OVER (PARTITION BY customer_id) AS min_pay,
        AVG(order_sum) OVER (PARTITION BY customer_id) AS avg_pay,
        COUNT(order_id) OVER (PARTITION BY customer_id) AS num_orders,
        ROW_NUMBER() OVER (PARTITION BY customer_id ORDER BY order_id) AS rnc
    FROM order_sums
    WHERE rn = 1    
)
SELECT
    customer_id,
    total_pay,
    max_pay,
    min_pay,
    avg_pay,
    num_orders
FROM customer_stats
WHERE rnc = 1        
ORDER BY total_pay DESC, num_orders DESC
LIMIT 10;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
10 rows affected.

[(2183, Decimal('136632.46'), Decimal('20056.60'), Decimal('1073.07'), Decimal('9759.4614285714285714'), 14),
 (1597, Decimal('133657.06'), Decimal('20914.70'), Decimal('1720.70'), Decimal('11138.088333333333'), 12),
 (941, Decimal('129789.94'), Decimal('20914.70'), Decimal('2115.02'), Decimal('12978.994000000000'), 10),
 (1129, Decimal('129189.48'), Decimal('19773.60'), Decimal('1743.72'), Decimal('9937.6523076923076923'), 13),
 (637, Decimal('109334.74'), Decimal('17796.24'), Decimal('360.40'), Decimal('8410.3646153846153846'), 13),
 (2309, Decimal('107476.68'), Decimal('16353.00'), Decimal('991.44'), Decimal('8956.3900000000000000'), 12),
 (3015, Decimal('106182.33'), Decimal('20914.70'), Decimal('3111.16'), Decimal('10618.2330000000000000'), 10),
 (1329, Decimal('101439.07'), Decimal('17934.30'), Decimal('543.39'), Decimal('9221.7336363636363636'), 11),
 (2046, Decimal('100891.35'), Decimal('18823.23'), Decimal('2667.55'), Decimal('11210.150000000000'), 9),
 (2615, Decimal('99880.69'), Decimal('19773.60'), Decimal('1149.28'), Decimal('11097.8544444444444444'), 9)]

#### Сравнение двух способов агрегирования заказов клиентов  
Оба метода выдают полностью `одинаковые` результаты, потому что:
	•	в первом случае агрегирование выполняется в GROUP BY;
	•	во втором — те же агрегаты считаются оконными функциями OVER (PARTITION BY ...).

Математически оба решения вычисляют:
	•	сумму заказов клиента
	•	max/min отдельного заказа
	•	среднюю сумму заказа
	•	количество заказов

по одному и тому же множеству заказов, отличаясь только механизмом выполнения.

При использовании оконных функций строки выборки "не схлопываются" в одну, в отличии от группировки, агрегаты считаются поверх всех заказов клиента.
Поэтому требуется `ROW_NUMBER()` для выбора одной строки на заказ и одной — на клиента, что и было реализовано.

## Задача 5. 
Найти имена и фамилии клиентов с топ-3 минимальной и топ-3 максимальной суммой транзакций за весь период (учесть клиентов, у которых нет заказов, приняв их сумму транзакций за 0).

In [28]:
%%sql
WITH order_totals AS (
    SELECT 
        o.order_id,
        o.customer_id,
        SUM(oi.quantity * oi.item_list_price_at_sale) AS order_sum
    FROM hw3.orders o
    JOIN hw3.order_items oi 
        ON oi.order_id = o.order_id
    GROUP BY o.order_id, o.customer_id
),
customer_totals AS (
    SELECT
        c.customer_id,
        c.first_name,
        c.last_name,
        COALESCE(SUM(ot.order_sum), 0) AS total_transaction
    FROM hw3.customer c
    LEFT JOIN order_totals ot 
        ON c.customer_id = ot.customer_id
    GROUP BY c.customer_id, c.first_name, c.last_name
),
top3_min AS (
    SELECT *
    FROM customer_totals
    ORDER BY total_transaction ASC
    LIMIT 3
),
top3_max AS (
    SELECT *
    FROM customer_totals
    ORDER BY total_transaction DESC
    LIMIT 3
)
SELECT * FROM top3_min
UNION ALL
SELECT * FROM top3_max;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
6 rows affected.

[(3725, 'Elisha', 'Venny', Decimal('0')),
 (3936, 'Rodd', 'Spare', Decimal('0')),
 (1373, 'Shaylynn', 'Epsley', Decimal('0')),
 (2183, 'Jillie', 'Fyndon', Decimal('136632.46')),
 (1597, 'Jeffry', 'Slowly', Decimal('133657.06')),
 (941, 'Tye', 'Doohan', Decimal('129789.94'))]

## Задача 6. 
Найти имена и фамилии клиентов с топ-3 минимальной и топ-3 максимальной суммой транзакций за весь период (учесть клиентов, у которых нет заказов, приняв их сумму транзакций за 0).

In [29]:
%%sql
WITH numered AS (
    SELECT
        o.customer_id,
        o.order_id,
        o.order_date,
        ROW_NUMBER() OVER (
            PARTITION BY o.customer_id
            ORDER BY o.order_date
        ) AS rn
    FROM hw3.orders o
)
SELECT
    customer_id,
    order_id,
    order_date
FROM numered
WHERE rn = 2
ORDER BY customer_id
LIMIT 10
;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
10 rows affected.

[(1, 13424, datetime.date(2017, 2, 21)),
 (2, 6743, datetime.date(2017, 6, 11)),
 (3, 15188, datetime.date(2017, 3, 24)),
 (4, 14648, datetime.date(2017, 6, 18)),
 (5, 19993, datetime.date(2017, 4, 28)),
 (6, 8204, datetime.date(2017, 2, 6)),
 (7, 18549, datetime.date(2017, 2, 24)),
 (8, 19844, datetime.date(2017, 1, 28)),
 (9, 2979, datetime.date(2017, 3, 6)),
 (10, 10250, datetime.date(2017, 7, 13))]

## Задача 7. 
Вывести имена, фамилии и профессии клиентов, а также длительность максимального интервала (в днях) между двумя последовательными заказами. Исключить клиентов, у которых только один или меньше заказов.

In [30]:
%%sql
WITH intervals AS (
    SELECT
        o.customer_id,
        o.order_id,
        o.order_date,
        LAG(o.order_date) OVER (
            PARTITION BY o.customer_id
            ORDER BY o.order_date
        ) AS prev_order_date
    FROM hw3.orders o
)
SELECT
    c.first_name,
    c.last_name,
    c.job_title,
    MAX(o.order_date - o.prev_order_date) AS max_interval_days
FROM intervals o
JOIN hw3.customer c 
    ON c.customer_id = o.customer_id
WHERE o.prev_order_date IS NOT NULL     
GROUP BY c.customer_id, c.first_name, c.last_name, c.job_title
ORDER BY max_interval_days DESC
LIMIT 10;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
10 rows affected.

[('Susanetta', None, 'Legal Assistant', 357),
 ('Gregorius', 'Cockram', 'Data Coordiator', 330),
 ('Royall', 'Terris', 'Geological Engineer', 330),
 ('Stoddard', 'Giacomoni', 'Structural Analysis Engineer', 330),
 ('Bearnard', 'Letixier', None, 329),
 ('Caralie', 'Sellors', 'Senior Editor', 321),
 ('Debee', 'Martynov', 'Senior Editor', 320),
 ('Genni', 'Larway', 'Environmental Specialist', 314),
 ('Carolynn', 'Samsin', 'Pharmacist', 310),
 ('Franz', 'Craddy', None, 310)]

## Задача 8.
Найти топ-5 клиентов (по общему доходу) в каждом сегменте благосостояния (wealth_segment). Вывести имя, фамилию, сегмент и общий доход. Если в сегменте менее 5 клиентов, вывести всех.

In [31]:
%%sql
WITH order_totals AS (
    SELECT 
        o.order_id,
        o.customer_id,
        SUM(oi.quantity * oi.item_list_price_at_sale) AS order_sum
    FROM hw3.orders o
    JOIN hw3.order_items oi 
        ON oi.order_id = o.order_id
    GROUP BY o.order_id, o.customer_id
),
customer_totals AS (
    SELECT
        c.customer_id,
        c.first_name,
        c.last_name,
        c.wealth_segment,
        COALESCE(SUM(ot.order_sum), 0) AS total_income
    FROM hw3.customer c
    LEFT JOIN order_totals ot 
        ON c.customer_id = ot.customer_id
    GROUP BY
        c.customer_id,
        c.first_name,
        c.last_name,
        c.wealth_segment
),
ranked AS (
    SELECT
        customer_id,
        first_name,
        last_name,
        wealth_segment,
        total_income,
        ROW_NUMBER() OVER (
            PARTITION BY wealth_segment
            ORDER BY total_income DESC
        ) AS rn
    FROM customer_totals
)
SELECT
    first_name,
    last_name,
    wealth_segment,
    total_income
FROM ranked
WHERE rn <= 5
ORDER BY wealth_segment, total_income DESC;

 * postgresql+psycopg2://perceivery:***@localhost:5432/postgres
15 rows affected.

[('Jeffry', 'Slowly', 'Affluent Customer', Decimal('133657.06')),
 ('Tye', 'Doohan', 'Affluent Customer', Decimal('129789.94')),
 ('Herc', 'McIlhone', 'Affluent Customer', Decimal('107476.68')),
 ('Queenie', 'Flips', 'Affluent Customer', Decimal('106182.33')),
 ('Jessamine', 'Brazear', 'Affluent Customer', Decimal('98618.77')),
 ('Mercy', 'Wilsone', 'High Net Worth', Decimal('109334.74')),
 ('Lockwood', 'Exroll', 'High Net Worth', Decimal('92405.18')),
 ('Linell', None, 'High Net Worth', Decimal('91450.18')),
 ('Gayelord', 'Lipman', 'High Net Worth', Decimal('90493.06')),
 ('Jonell', 'Gon', 'High Net Worth', Decimal('87555.70')),
 ('Jillie', 'Fyndon', 'Mass Customer', Decimal('136632.46')),
 ('Hercule', None, 'Mass Customer', Decimal('129189.48')),
 ('Wendy', 'Randlesome', 'Mass Customer', Decimal('101439.07')),
 ('Charis', 'Maas', 'Mass Customer', Decimal('100891.35')),
 ('Cordelia', None, 'Mass Customer', Decimal('99880.69'))]